<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="KitchenMahal">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../javascripts/angular/angular.js"></script>
    <script src="../javascripts/angular-resource/angular-resource.js"></script>
    <script src="../javascripts/angular-route/angular-route.js"></script>
    <script src="../javascripts/index.js"></script>
</head>
<body>
    <menu>
        <ul>
            <li><a ui-sref-active="active" ui-sref="Drinks">Drinks</a></li>
            <li><a ui-sref-active="active" ui-sref="Appetizer">Appetizer</a></li>
            <li><a ui-sref-active="active" ui-sref="Entrees">Entrees</a></li>
            <li><a ui-sref-active="active" ui-sref="Deserts">Deserts</a></li>
        </ul>
    </menu>
    <form ng-controller="desertsItems">
        <div class="menuItems">
            <div ng-repeat="item in items" align="center">
                <img src="{{item.imageUrl}}" height="180" width="180" hspace="20" vspace="20" />
                <h5>{{item.desertName}}</h5>
                <label>Description: </label><p class="itemDescription">{{item.description}}</p>
                <label>Quantity: </label><input type="number" ng-model="quantity" min="1" max="10" style="width:35px;"><br />
                <h3>${{item.price}}</h3>
                <input type="submit" ng-click="addToCart(item, quantity)" value="Add to Order" />
            </div>
        </div>
    </form>
</body>
</html>