<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="KitchenMahal">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../stylesheets/index.css" rel="stylesheet" />
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-resource.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="../javascripts/index.js"></script>
</head>
<body>
    <div align="center">
        <h2>Customer Account Creation Page</h2>
        <form ng-controller="addCustomers" ng-submit="save()">
            <table>
                <tr>
                    <td><label>First Name: </label></td>
                    <td><input type="text" name="FirstName" ng-model="FirstName" required/></td>
                </tr>
                <tr>
                    <td><label>Last Name: </label></td>
                    <td><input type="text" name="LastName" ng-model="LastName" required/></td>
                </tr>
                <tr>
                    <td><label>Email Address: </label></td>
                    <td><input type="email" name="EmailAddress" ng-model="EmailAddress" required/></td>
                </tr>
                <tr>
                    <td><label>Contact No.: </label></td>
                    <td><input type="text" name="ContactName" ng-model="ContactNo" required/></td>
                </tr>
                <tr>
                    <td><label>Address: </label></td>
                    <td><input type="text" name="FirstName" ng-model="Address" /></td>
                </tr>
                <tr>
                    <td><label>ZipCode: </label></td>
                    <td><input type="text" name="FirstName" ng-model="ZipCode" /></td>
                </tr>
                <tr>
                    <td><label>State: </label></td>
                    <td>
                        <select name="State" ng-model="State">
                            <option value="AL">AL</option>
                            <option value="AK">AK</option>
                            <option value="AZ">AZ</option>
                            <option value="AR">AR</option>
                            <option value="CA">CA</option>
                            <option value="CO">CO</option>
                            <option value="CT">CT</option>
                            <option value="DE">DE</option>
                            <option value="DC">DC</option>
                            <option value="FL">FL</option>
                            <option value="GA">GA</option>
                            <option value="HI">HI</option>
                            <option value="ID">ID</option>
                            <option value="IL">IL</option>
                            <option value="IN">IN</option>
                            <option value="IA">IA</option>
                            <option value="KS">KS</option>
                            <option value="KY">KY</option>
                            <option value="LA">LA</option>
                            <option value="ME">ME</option>
                            <option value="MD">MD</option>
                            <option value="MA">MA</option>
                            <option value="MI">MI</option>
                            <option value="MN">MN</option>
                            <option value="MS">MS</option>
                            <option value="MO">MO</option>
                            <option value="MT">MT</option>
                            <option value="NE">NE</option>
                            <option value="NV">NV</option>
                            <option value="NH">NH</option>
                            <option value="NJ">NJ</option>
                            <option value="NM">NM</option>
                            <option value="NY">NY</option>
                            <option value="NC">NC</option>
                            <option value="ND">ND</option>
                            <option value="OH">OH</option>
                            <option value="OK">OK</option>
                            <option value="OR">OR</option>
                            <option value="PA">PA</option>
                            <option value="RI">RI</option>
                            <option value="SC">SC</option>
                            <option value="SD">SD</option>
                            <option value="TN">TN</option>
                            <option value="TX">TX</option>
                            <option value="UT">UT</option>
                            <option value="VT">VT</option>
                            <option value="VA">VA</option>
                            <option value="WA">WA</option>
                            <option value="WV">WV</option>
                            <option value="WI">WI</option>
                            <option value="WY">WY</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>UserName: </label></td>
                    <td><input type="text" name="UserName" ng-model="UserName" required/></td>
                </tr>
                <tr>
                    <td><label>Password: </label></td>
                    <td><input type="password" name="Password" ng-model="Password" required/></td>
                </tr>
                <tr>
                    <td><label>Confirm Password: </label></td>
                    <td><input type="password" name="ConfirmPassword" ng-model="ConfirmPassword" required/></td>
                </tr>
                <tr>
                    <td><input type="reset" value="Reset" /></td>
                    <td><input type="submit" value="Create Account" onsubmit=""/></td>
                </tr>
            </table>
            <h2 style="color:blue">{{message}}</h2>
        </form>         
    </div>          
</body>
</html>